@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    /* box-sizing: inherit; */
}

.wrapper {
    width: 100vw;
    background-color: #191c32;
    color: #fff;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.brand {
    margin-top: -7px;
}

.brand span {
    color: aqua;
}

.menu {
    display: flex;
    width: 50%;
    justify-content: space-around;
}

.menu li {
    list-style: none;

}

.menu a {
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
}

.menu li:hover a {
    border-radius: 20px;
    background-color: azure;
    color: #191c32;
}

.menu li a:hover {
    font-weight: 600;
}

.menu .active {
    color: aqua;
}

.main {
    margin: 0 auto;
    width: 100vw;
    padding: 3em;
    display: grid;
    align-items: center;
    gap: 2em;
}

.main button {
    margin-left: 10px;
    font-size: large;
    font-weight: bold;
}

h1 {
    font-size: 3em;
    padding-bottom: 1em;
}
p {
    font-size: large;
}
pre {
    white-space: pre-wrap;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
code {
    font-family: 'Montserrat', sans-serif;
}

.info-content span {
    color: aqua;
}

.download-cv {
    font-weight: bold;
    padding: 10px 20px;
    background-color: aqua;
    border: none;
    border-radius: 20px;
    margin-top: 10px;
    cursor: pointer;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.download-cv:hover {
    background-color: azure;
    box-shadow: none;
}

.about {
    padding: 3em;
    background-color: azure;
    width: 100vw;
    align-items: center;
}

.about-container {
    display: grid;
}

.about-heading h2 {
    font-size: 2.5em;
    color: #191c32;
}
.about-info {
    padding: 3em;
    font-weight: bold;
    font-size: 1em;
    color: #171927;
}

.divider {
    height: 4px;
    width: 60px;
    background-color: aqua;
    margin-top: 5px;
    margin-bottom: 2em;
}

.about h1 {
    font-size: 2em;
    padding-bottom: 20px;
}

.about p {
    margin-bottom: 1em;
}

.about .download-cv:hover {
    border: 1px solid aqua;
}

.about .content {
    border: 1px solid #191C32;
    border-radius: 5px;
    padding: 12px;
}

.portfolio,
.contact {
    padding: 3em;
    width: 100vw;
    background-color: #191C32;
    color: #fff;
}

.portfolio-heading {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.portfolio-heading h2,
.contact-heading h2 {
    font-size: 2.5em;
    color: #fff;
}

.portfolio .container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    width: 30%;
    background-color: #2b3058;
    margin: 1em;
}

.card__img {
    width: 100%;
    height: 150px;
    background-image: url(https://res.cloudinary.com/freelancer2222222222222222/image/upload/v1650543491/samples/2-original_agisst.png);
    background-size: cover;
}

.card__title {
    padding: 20px;
}

.card__proyect-links {
    display: flex;
    justify-content: space-evenly;
}

.card__proyect-links a {
    color: #fff;
    text-decoration: none;
}

.card__proyect-links i {
    font-size: 1.5em;
}

.card__proyect-links i:hover {
    border-radius: 100%;
    color: azure;
    box-shadow: 0 0 25px 7px azure;
    transition: .4s;
}

.button-content {
    display: flex;
    justify-content: center;
    margin: 1em;
}

.project-details-button a {
    text-decoration: none;
    color: #191c32;
    font-weight: bold;
}


.container-contact {
    justify-content: space-evenly;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.contact img {
    opacity: 0.2;
    width: 50%;
    height: auto;
    bottom: 0px;
    padding: 1em;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 30vw;
    margin-top: 2em;
}

.form-group textarea {
    height: 150px;
    padding: 1.5em;
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

.form-group .input {
    padding: 10px 20px;
    margin-bottom: 1em;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    color: #fff;
}

.form-group .btn-submit {
    padding: 10px 20px;
    margin: 1em;
    border-radius: 20px;
    border: none;
    text-transform: uppercase;
    background-color: aqua;
    box-shadow: 1px 3px 11px -5px rgba(102, 231, 200, 0.69);
}

.btn-submit:hover {
    background-color: azure;
    box-shadow: none;
}

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 200px;
    padding: 2em;
    background-color: aqua;
}

.footer-content h2 {
    font-size: 3em;
}

.footer-content h5 {
    font-size: 1.5em;
    text-align: center;
}

.sotial-networks {
    display: flex;
    justify-content: space-evenly;
    width: 300px;
    margin-top: 1em;
}

.sotial-networks i {
    font-size: 1.5em;
    text-decoration: none;
    color: #171927;
}

.sotial-networks i:hover {
    border-radius: 100%;
    color: azure;
    box-shadow: 0 0 25px 7px azure;
    transition: .5s;
}



/* Posiciona las etiquetas en relación con el contenedor */
.container {
    position: relative;
    margin: 10px 10px;
}

/* Posiciona las etiquetas en relación con el contenedor. Añade relleno en la parte superior e inferior y aumenta el tamaño de la fuente. También hace que su cursor sea un puntero */

.label {
    position: relative;
    padding: 10px 0;
    font-size: 30px;
    cursor: pointer;
}

/* Posiciona el signo más a 5px de la derecha. Lo centra utilizando la propiedad transform. */

.label::before {
    content: '+';
    color: red;
    position: absolute;
    top: 50%;
    right: -5px;
    font-size: 50px;
    transform: translateY(-50%);
}

/* Oculta el contenido (altura: 0), disminuye el tamaño de la fuente, justifica el texto y añade la transición */

.content {
    position: relative;
    background: white;
    height: 0;
    width: 1000px;
    font-size: 20px;
    text-align: justify;
    overflow: hidden;
    transition: 0.5s;
}

/* Muestra la parte de contenido cuando está activa. Establece la altura */

.container.active .content {
    height: auto;
}

/* Cambia de signo positivo a negativo una vez activado */

.container.active .label::before {
    content: '_';
    font-size: 50px;
}